<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<authorization>
			<allow users="*" />
		</authorization>
	</system.web>
</configuration>

<!--
¿Qué hace esto?
Le dice al sistema:
"Permití el acceso a todos (autenticados o no) a /Pages/Login/Login.aspx.
Esto anula la regla global que niega el acceso a usuarios anónimos.
-->