.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard {
    display: flex;
    gap: 10px;
}

.right-text {
    margin: 0; /* elimina margenes del <p> */
    font-size: 20px; /* ajustá tamaño si querés */
}
